body * {
    font-size: calc(var(--base-unit) * 2) !important;
}

body {
    height: 100%;
}

.beats {
    transition: none;
}

#activeBeat {
    color: light-dark(var(--light-1), var(--dark-1));
    background-color: light-dark(var(--dark-1), var(--light-1));
}

#stop {
    display: none;
}

#droneTable, #tuner {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
}

div {
    display: flex;
    width: 100%;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

span {
    padding: auto;
    background-color: transparent;
}

#tuner {
    display: none;
}

@media (orientation: portrait) {
    body * {
        font-size: calc(var(--base-unit) * 1.5) !important;
    }
}