body *, span {
    font-size: calc(var(--base-unit) * 2) !important;
}

body {
    height: 100%;
}

.beats {
    transition: none;
}

#activeBeat {
    background-color: transparent;
}

#stop {
    display: none;
}

#droneTable, #tuner {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
}

#homeWrapper {
    display: flex;
}

div {
    display: flex;
    width: 100%;
    align-items: stretch;
}

span {
    background-color: transparent;
}

#tuner {
    display: none;
}