body * {
    font-size: 3rem;
}

#homeWrapper {
    display: grid;
    grid: auto / 100%;
}

.beats {
    transition: none;
}

#activeBeat {
    color: light-dark(var(--light-1), var(--dark-1));
    background-color: light-dark(var(--dark-1), var(--light-1));
}

div {
    display: flex;
}

#stop {
    display: none;
}

#toolbar * {
    font-size: 2rem;
}